{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/home_slides2.css' %}">

{#image wall#}
<div class="card-columns" style="padding: 10%">
    {% for block in page.posters %}
        <div class="card">
            {% image block.value original as coverimage %}
            <img src="{{ coverimage.url }}" alt="{{ coverimage.alt }}"
            style="width:100%">
        </div>
    {% endfor %}
</div>

{#icon introduction#}
<div class="cards-container">
    <div class="row-icon">
        <div class="column">
            <div class="card-icon">
                <p><i class="fa fa-user"></i></p>
                <h3>11+</h3>
                <p>Partners</p>
            </div>
        </div>

        <div class="column">
            <div class="card-icon">
                <p><i class="fa fa-check"></i></p>
                <h3>55+</h3>
                <p>Projects</p>
            </div>
        </div>

        <div class="column">
            <div class="card-icon">
                <p><i class="fa fa-smile-o"></i></p>
                <h3>100+</h3>
                <p>Happy Clients</p>
            </div>
        </div>

        <div class="column">
            <div class="card-icon">
                <p><i class="fa fa-coffee"></i></p>
                <h3>100+</h3>
                <p>Meetings</p>
            </div>
        </div>
    </div>
</div>