{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/contact_us/contact_us_content1.css' %}">

{#menu is here#}
<div class="topnav" id="myTopnav">
    {% load_menu %}
</div>
{% image page.background_image original as background %}
<div class="text-center hero-image" id="background" title="{{ background.url }}"
     style="padding: 5%; display: flex;">
    {#    <div class="container-fluid text-center">#}
    <div class="container-fluid"
         style=" background-color:white; border-radius: 10px; height: 100%; padding: 2%">
        <h1 class="display-3" style="color: black; margin-bottom: 20px; text-align:center;">{{ page.title }}</h1>
        <div class="row align-items-center justify-content-around"
             style=" background-color:white; padding: 2%; margin: 0">

            {#    address introduction#}
            <div class="col-lg-5 text-center">
                <div class="contact-info">
                    {{ page.intro |richtext }}
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><span class="fas fa-map-marker"></span> {{ page.address }}</p>
                    <p><span class="fas fa-phone"></span>{{ page.phone }}</p>
                    <p><span class="fas fa-envelope"></span>{{ page.email }}</p>
                </div>
            </div>
            {# form #}
            <div class="col-lg-5 text-uppercase text-left" style="color: black;">
                <form action="{% pageurl page %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if form.visible_fields %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

