{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/activity_index/activity_catalog2.css' %}">

{% for activity in activities %}
    <div class="activity-container">
        <div class="activity-left-block">
            {% image activity.specific.background_image original as tmp_photo %}

            <img class="activity-image" src="{{ tmp_photo.url }}"
                 alt="{{ tmp_photo.alt }}">
        </div>
        <div class="activity-right-block">
            <div class="activity-intro-block">
                <div class="activity-title">
                    <a class="activity-link" href= {% pageurl activity.specific %}>
                        {{ activity.specific.title }}
                    </a>
                </div>
                <div class="activity-date">
                    {{ activity.specific.date }}
                </div>

                <div class="activity-intro">
                    {{ activity.specific.intro }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script>
    let left;
    let right;
    let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    {#  get left and right blocks #}
    left = document.getElementsByClassName("activity-left-block");
    right = document.getElementsByClassName("activity-right-block");

    {#check is a mobile device#}
    if (isMobile) {
        for (let i = 0; i < left.length; i += 1) {
            left[i].style = "width: 100%;";
        }
        for (let i = 0; i < right.length; i += 1) {
            right[i].style = "width: 100%;";
        }
    } else {  {# not mobile phone#}
        {# wide screen#}
        if (window.innerWidth >= 800) {
            for (let i = 0; i < left.length; i += 1) {
                if (i % 2) {
                    left[i].style = "width: 49.5%; float: right;";
                }
            }
            for (let i = 0; i < right.length; i += 1) {
                if (i % 2) {
                    right[i].style = "width: 49.5%; float: left;";
                }
            }
        }
    }
</script>