{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/activity_index/activity_catalog1.css' %}">
<script type="module">
    import {getOS} from "{% static 'js/getOS.js' %}";

    {#change the font-size of news text on mac and ios#}
    if (getOS() === 'Mac OS') {
        if (navigator.userAgent.indexOf('Safari') !== -1 && navigator.userAgent.indexOf('Chrome') === -1) {
            {#alert('safari on mac');#}
            let newsTexts = document.getElementsByClassName("news-text");
            for (let newsText in newsTexts) {
                newsText.style = " padding: 5% 11% 5% 11%;\n" +
                    "    color: black;\n" +
                    "    font-size: 14px;\n" +
                    "    position: absolute;\n" +
                    "    top: 50%;\n" +
                    "    left: 50%;\n" +
                    "    -webkit-transform: translate(-50%, -50%);\n" +
                    "    -ms-transform: translate(-50%, -50%);\n" +
                    "    transform: translate(-50%, -50%);\n" +
                    "    text-align: center;\n" +
                    "    height: 100%;\n" +
                    "    width: 100%;";
            }
        }
    }
</script>
<div class="container-fluid-body">
    <div class="container">
        {% for activity in activities %}

            <div class="news-card row">
                <div class="col-md-6 col-xr-6">
                    {% image activity.specific.background_image fill-600x400 as tmp_photo %}
                    <img class="fakeimg" src="{{ tmp_photo.url }}"
                         alt="{{ tmp_photo.alt }}">
                    <div class="overlay">
                        <div class="news-text">
                            {{ activity.specific.intro }}
                        </div>
                    </div>

                    {#                        <img class="fakeimg" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" href="">#}
                </div>
                <div class="col-md-6 col-xs-6">
                    <h1 class="news-card-title">
                        <a class="news-link" href= {% pageurl activity.specific %}>  {{ activity.specific.title }} </a>
                        <div class="news-card-time">{{ activity.specific.date }}</div>
                    </h1>
                    <div class="news-text-mobile">
                        {{ activity.specific.intro }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>