{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/activity_index/activity_catalog.css' %}">
<div class="container-fluid-body">
    <div class="card-columns">
        {% for activity in activities %}
            <div class="card shadow">
                {% image activity.specific.background_image fill-600x400 as tmp_photo %}
                <img class="card-img-top img-fluid" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                <div class="card-block">
                    <h5 class="card-title">{{ activity.specific.name }}</h5>
                    <p class="card-date"> {{ activity.specific.date }}</p>
                    <p class="card-text"> {{ activity.specific.intro }}</p>
                    <div class="card-text">
                        <a class="card-link" href="{% pageurl activity.specific %}">See Detail</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>