{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/home_newsblock2.css' %}">

<div class="carousel"
     data-flickity='{ "freeScroll": true, "wrapAround": true }'>
    {% for block in page.index_pages %}
        <div class="carousel-cell text-center">
            {% image block.value.specific.cover_image original as coverimage %}
            <img class="carousel-image" src="{{ coverimage.url }}" alt="{{ coverimage.alt }}">
            <div class="carousel-cell-title"> {% include_block block.value.specific.title %}</div>
            <div class="carousel-cell-content">{{ block.value.specific.intro | richtext }} </div>
            <a href= >
            LEARN MORE</a>
        </div>
    {% endfor %}
</div>