{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/home_newsblock1.css' %}">
<div class="content-container-fluid">
    <h2 class="block-title-md"> Look what is new here</h2>
    <br>
    <div class="card-columns">
        {% for block in page.index_pages %}
            {% image block.value.specific.cover_image fill-600x350 as coverimage %}
            <div class="card" style="
                    background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url({{ coverimage.url }})">
                <div class="card-body">
                    <h1 class="card-title"> {% include_block block.value.specific.title %}</h1>
                    <p class="card-text">
                        {{ block.value.specific.intro | richtext }}
                    </p >
                    <div class="card-link">
                        <a class="news-link" href= >
                            LEARN MORE</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>