{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-aboutpage{% endblock %}'

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/about/about.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <div class="ct-pageWrapper" id="ct-js-wrapper">
        <section class="company-heading intro-type" id="parallax-one">
            <div class="container">
                <div class="row product-title-info">
                    <div class="col-md-12">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="parallax" id="parallax-cta"
                 style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
        </section>
        <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding"
                 id="section">
            <div class="container-fluid text-center">
                <h2 class="display-4">Victoria Chinese Student Scholarship Association</h2>
                <div class="container">
                    <div class="red-border"></div>
                    <br>
                    <br>
                    <div class="col-md-6">
                        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
                            {{ page.intro }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        {% for item in page.about_images.all %}
                            {% image item.image fill-400x400 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


