{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags%}

{% block body_class %}template-activityindexpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/activity_index/activity_index.css">

{% endblock %}

{% block content %}
    <!--nav bar-->
{#    <div id="mySidenav" class=" sidenav">#}
{#        <a href=" " class="closebtn" onclick="closeNav()">&times;</a>#}
{#        {% for menu in menuitems %}#}
{#            <a href=" {{menu.url}} ">{{menu.title}}</a>#}
{#        {% endfor %}#}
{##}
{#    </div>#}

    {#menu is here#}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            {% load_menu %}
        </div>
    </nav>

    <div class="container-fluid">
        {% image page.background_image original as background %}
        <img src="{{ background.url }}" alt="{{ background.alt }}" style="width: 100%; height: 500px;"/>
        <div class="content">
            <h1>{{ page.title }}</h1>
            <p>{{ page.intro|richtext }}</p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for activity in activities %}
                <div class="col-md-4 col-xs-6">
                    <div class="card shadow" style="margin-bottom:10px;">
                        {% image activity.specific.background_image fill-600x400 as tmp_photo %}
                        <img class="card-img-top img-fluid" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                        <div class="card-block">
                            <h5 class="card-title" style="margin: 10px">{{ activity.specific.name }}</h5>
                            <p class="card-text" style="margin: 10px">  {{ activity.specific.date }}</p>
                            <p class="card-text" style="margin: 10px">  {{ activity.specific.intro }}</p>
                        </div>
                        <div class="card-text" style="margin: 10px;">
                            <a href="{% pageurl activity %}" class="card-link">See Detail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}