{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-activityindexpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/activity_index/activity_index.css">

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <img src="https://www.solodev.com/assets/hero/hero.jpg" alt="Notebook" style="width:100%;">
        <div class="content">
            <h1>{{ page.title }}</h1>
            <p>{{ page.intro|richtext }}</p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card-columns">
            {% for item in page.activity_index_images.all %}
                <div class="card" style="width: 20rem;">
                    {% image item.image fill-300x200 as tmp_photo %}
                    <img class="card-img-top" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"/>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">See Detail</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}