* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 17px;
    /*backgrounds: rgb(247, 247, 247);*/
    /*backgrounds-color: #FBE8A6;*/
    /*backgrounds-color: #ECECEC;*/
}
