{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/contact_us/contact_us_content.css' %}">
<!--background image and introduction-->
{% image page.background_image original as background %}
<div class="hero-image" id="background" title="{{ background.url }}">
    <div class="hero-text">
        {{ page.title }}
    </div>
</div>

<div class="container-fluid bg-light">
    {#        <h2 class="text-center">CONTACT</h2>#}
    <br>
    <div class="row">
        {#    address introduction#}
        <div class="col-lg-7 bg-light text-center align-middle">
            <div class="contact-info">
                {{ page.intro |richtext }}
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="fas fa-map-marker"></span> {{ page.address }}</p>
                <p><span class="fas fa-phone"></span>{{ page.phone }}</p>
                <p><span class="fas fa-envelope"></span>{{ page.email }}</p>
            </div>
        </div>

        {#        form #}
        <div class="col-lg-4">
            <form action="{% pageurl page %}" method="POST" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if form.visible_fields %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>