{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags wagtailsettings_tags static %}
<link rel="stylesheet" href="{% static 'css/news/news_content1.css' %}">
<div class="container">
    <h1 class="news-title">{{ page.title }}</h1>
    <div class="row align-items-center">
        <div class="col-md-6 col-xr-6 text-center">
            <i class="news-second-title">{{ page.intro }}</i>

        </div>

        <div class="col-md-6 col-xr-6 text-center" style="border-left:  thin solid gray;">
            <p>
                By: <span class="news-author">{{ page.author }}</span>
            </p>

            <p>
                Updated: <span class="news-time">{{ page.date }}</span>
            </p>
        </div>
    </div>

    <div class="news-body">
        {{ page.body | richtext }}
    </div>
</div>