{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    {#    slide show css#}
    <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
{% endblock %}

{% block extra_js %}
    <script>
        var theme = document.getElementById("theme").innerHTML;
        {#console.log(theme);#}
        loadCssFile("{% static 'css/home1.css' %}", "css");
    </script>
    <script type="text/javascript" src="{% static 'js/home2.js' %}"></script>
    {#  slide show js   #}
    <script type="text/javascript" src="{% static 'js/flickity.pkgd.min.js' %}"></script>

{% endblock %}


{% block content %}
    <div style="display: none" id="theme">{{ page.title }}</div>

    <!--background image-->
    {% include "home/includes/home_background2.html" %}

    {#  slide show #}
    {% include "home/includes/home_slides2.html" %}

    <!--News Index-->
    {% include "home/includes/home_newsblock2.html" %}

{% endblock %}