{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    {#    slide show css#}
    <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    {#  slide show js   #}
    <script type="text/javascript" src="{% static 'js/flickity.pkgd.js' %}"></script>

{% endblock %}


{% block content %}
    {% include "home/includes/backgrounds/home_background3.html" %}
    {% include "home/includes/news/home_newsblock3.html" %}

{#    <div style="display: none" id="theme">{{ page.title }}</div>#}
    <!--background image-->
{#    {% include  background_theme %}#}

    {#  slide show #}
{#    {% include  slide_theme %}#}
{##}
    <!--News Index-->
{#    {% include news_theme %}#}

{% endblock %}