{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet"href="{% static 'css/home.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        <!--invisible close icon-->
        document.getElementById("close_icon").style.display = "none";

        function openNav() {
            if (window.screen.width < 800) {
                document.getElementById("mySidenav").style.width = "50%";
            } else {
                document.getElementById("mySidenav").style.width = "450px";
            }
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        //get the image url
        var imageUrl = document.getElementById('background').title;

        document.getElementById('background').style.backgroundImage = "linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))," + "url(" + imageUrl + ")";
    </script>
{% endblock %}


{% block content %}
    {% image page.background_image original as background %}
    <!--https://www.solodev.com/assets/hero/hero.jpg-->
    <!--background image-->
    <div class="hero-image" id="background" title="{{background.url}}">
        <!--style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); ">-->
        <div class="hero-text">
            {# load introduction from model#}
            <h1 style="font-size:50px">{{ page.title }}</h1>
            <p>{{ page.intro }}</p>



            <!--News Index-->
            {% for block in page.news_pages %}
                <h2>{% include_block block.value.title %}</h2>
                {% image block.value.cover_image fill-600x400 as coverimage %}
                <img src="{{ coverimage.url }}" alt="{{ coverimage.alt }}"/>
                <section>{{ block.value.body | richtext }}</section>
                <a href={% pageurl block.value %}>See Detail</a>
            {% endfor %}



            <div>
                <button style="opacity: 0.5;  font-family:Arial; font-size:16px; font-weight: bold">Know about us</button>
            </div>
        </div>
    </div>


    <!--logo-->
    {% image page.logo_image original as logo %}
    <img class="topleft" src="{{ logo.url }}" alt="logo"
         style="height: 100px; width: 100px; border-radius: 50%;" href="#"/>


    <!--nav bar-->
    <div id="mySidenav" class="sidenav">
        <a href=" " class="closebtn" onclick="closeNav()">&times;</a>
        {% load_menu %}
    </div>





    <span class="topright" style="font-size:50px;cursor:pointer; color: #dddddd"
          onclick="openNav()">&#9776;</span>

{% endblock %}