.cards-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.row-icon {
    margin: 50px -5px;
}

/* Clear floats after the columns */
.row-icon:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card-icon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    /*background-color: rgb(205,54,44);*/
    color: rgb(220, 59, 48);
    /*color: rgb(50,50,50);*/
    background-color: white;
    /*height: 200px;*/
}

.card-icon p {
    font-size: 24px;
}

p .fa {
    font-size: 60px;
}

/* Responsive columns */
@media screen and (max-width: 800px) {

    .cards-container {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        /*padding: 0;*/
        margin-bottom: 30px;

    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .card-icon {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 30px;
        text-align: center;
        /*background-color: rgb(205,54,44);*/
        color: rgb(220, 59, 48);
        /*color: rgb(50,50,50);*/
        background-color: white;
        /*height: 200px;*/
    }

    .card-icon p {
        font-size: 16px;
    }

    p .fa {
        font-size: 30px;
    }
}