/*center the backgrounds image*/
.background-image-container {
    width: 100vw;
    height: 100vh;
    /*backgrounds-color: rgb(29, 29, 29);*/
    /*backgrounds-color: rgb(205,54,44);*/
    background-color: rgb(220, 59, 48);
    padding: 2% 5% 5% 5%;

}

.hero-image {
    float: right;
    opacity: 1;
    width: 50%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    float: left;
    width: 50%;
    height: 100%;
    color: white;
    padding: 10%;
    text-align: center;
    font-family: 'Andale Mono';
}

/*page title*/
.page-title {
    font-size: 70px;
}

.welcome {
    font-size: 30px;
    color: white;
    line-height: 1.2;
    margin: 20px;
}

/*logo layout*/
.logo {
    background-color: white;
    height: 100px;
    width: 100px;
    /*height: 100px;*/
    /*width: 100px;*/
    /*border-radius: 50%;*/
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 50px;
    cursor: pointer;
    color: black;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

@media screen and (max-width: 800px) {
    .page-title {
        font-size: 32px;
    }

    .hero-image {
        float: right;
        opacity: 1;
        width: 100%;
        height: 50%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-text {
        float: left;
        width: 100%;
        height: 50%;
        color: white;
        padding: 10%;
        text-align: center;
        font-family: 'Andale Mono';
    }

    .association-title {
        font-size: 32px;
    }
}