{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/about/about_content1.css' %}">
{#menu is here#}
<div class="topnav" id="myTopnav">
    {% load_menu %}
</div>
<div class="container-fluid" style="margin-top: 2%; background-color: whitesmoke; ">
    <div class="row" style="margin: 0">
        <div class="col-lg-6 col-xr-6" style="padding: 0">
            {% for item in page.about_images.all %}
                {% image item.image original as about_image %}
                <img class="about-image" src="{{ about_image.url }}" alt="{{ about_image.alt }}">
            {% endfor %}
        </div>
        <div class="col-lg-6 col-xr-6" style="padding: 0">
            <div class="about-block">
                <div class="about-title">
                    {{ page.title }}
                </div>
                <div class="about-intro">
                    {{ page.intro }}
                </div>

            </div>
        </div>
    </div>
</div>
