{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/about/about_content.css' %}">
{#menu is here#}
<div class="topnav" id="myTopnav">
    {% load_menu %}
</div>
{#    backgrounds image#}
<div class="container-fluid" style="padding:0;">
    {% image page.background_image original as background %}
    <img class="background" src="{{ background.url }}" alt="{{ background.alt }}"/>
    <div class="content">
        <p>{{ page.title }}</p>
    </div>
</div>
<br>
<div class="container-fluid text-center">
    <h2 class="about-title">{{ page.union_name }}</h2>
</div>
{#    intro #}
<div class="container text-center">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-1 col-xr-1">
        </div>
        <div class="col-lg-4 col-xr-4" style="position: relative">
            <div class="about-intro">
                {{ page.intro }}
            </div>
        </div>
        <div class="col-lg-1 col-xr-1">
        </div>
        <div class="col-lg-6 col-xr-6">
            {% for item in page.about_images.all %}
                {% image item.image original as about_image %}
                <img class="about-image" src="{{ about_image.url }}" alt="{{ about_image.alt }}">
            {% endfor %}
        </div>
    </div>
</div>