{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/news_index/news_index_content3.css' %}">
<div class="index-body">
    <div class="left-column">
        <div class="news-index-title">Featured news</div>
        {% for news_page in news %}
            <div class="news-card">
                <div class="news-card-left">
                    <div class="news-card-intro">
                        <div class="news-card-time">
                            {{ news_page.specific.date }}
                        </div>
                        <hr>
                        {{ news_page.specific.intro }}
                    </div>
                </div>
                {% image news_page.specific.cover_image original as tmp_photo %}
                <div class="news-card-right" title="{{ tmp_photo.url }}">
                    <div class="news-card-title">
                        <a class="card-title-wrapper" href="{% pageurl news_page.specific %} ">
                            {{ news_page.specific.title }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="right-column">
        {# Leave tags here#}
        <div class="news-index-title">Tags</div>
        <div class="news-tags-block">
            {% for news_page in news %}
                {% for tag in news_page.specific.tags.all %}
                    <a class="tag" href="{% slugurl 'new-tag-index' %}?tag={{ tag }}">
                        {{ tag }}
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{# load news background #}
<script>
    let news = document.getElementsByClassName("news-card-right");
    for (let singleNews of news) {
        let imageUrl = singleNews.title;
        singleNews.style.backgroundImage = "url(" + imageUrl + ")";
    }
</script>