/*activity introduction block*/
.activity-container {
    height: 600px;
    width: 100%;
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 1%;

}

.activity-left-block {
    height: 100%;
    width: 49.5%;
    float: left;

}

.activity-right-block {
    height: 100%;
    width: 49.5%;
    float: right;
    /*backgrounds-color: rgba(220, 59, 48,0.89);*/
    /*color: rgb(50,50,50);*/
    /*color: black;*/
    /*color: rgb(220, 59, 48);*/

}

.activity-image {
    width: 100%;
    height: 100%;
}

.activity-intro-block {
    width: 100%;
    height: 100%;
    padding: 17.5% 10% 17.5% 10%;
    text-align: center;
}

.activity-title {
    font-size: 30px;
    padding: 2%;
    color: rgb(220, 59, 48);
}

.activity-intro {
    font-size: 20px;
    line-height: 2;

}

.activity-link {
    color: rgb(220, 59, 48);
}

.activity-link:hover {
    /*text-decoration: none;*/
    color: black;
}

.activity-date {
    font-size: 20px;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .activity-container {
        padding: 0;
        height: 500px;
    }

    .activity-left-block {
        width: 100%;
        height: 400px;
    }

    .activity-right-block {
        width: 100%;
        height: 400px;
        /*height: 100%;*/
    }

    .activity-intro-block {
        width: 100%;
        height: 100%;
        padding: 10%;
        text-align: center;
    }

    .activity-title {
        font-size: 30px;
        padding: 2%;
        color: rgb(220, 59, 48);
    }

    .activity-intro {
        font-size: 20px;
        line-height: 1.5;

    }
}



