.container-fluid {
    position: relative;
    margin: 0;
    padding: 0;
}

.container-fluid .background {
    vertical-align: middle;
    width: 100%;
    height: 500px;
}

.container-fluid .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black backgrounds with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.container-fluid-body {
    width: 100%;
    padding: 20px 5% 20px 5%;
}
