* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 17px;
}

.container-fluid {
    position: relative;
    margin: 0;
}

.container-fluid img {
    vertical-align: middle;
    width: 100%;
}

.container-fluid .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.row > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}


