{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/news_tag/news_tag_index_content3.css' %}">
{#menu is here#}
<div class="topnav" id="myTopnav">
    {% load_menu %}
</div>
<div class="index-body">
    <div class="left-column">

        {% if request.GET.tag|length %}
            <div class="news-index-title">
                Showing news tagged "{{ request.GET.tag }}"
            </div>
            <hr>
        {% endif %}

        {% for news_page in newspages %}
            <div class="news-card">
                <div class="news-card-left">
                    <div class="news-card-intro">
                        <div class="news-card-time">
                            {{ news_page.specific.date }}
                        </div>
                        <hr>
                        {{ news_page.specific.intro }}
                    </div>
                </div>
                {% image news_page.specific.cover_image original as tmp_photo %}
                <div class="news-card-right" title="{{ tmp_photo.url }}">
                    <div class="news-card-title">
                        <a class="card-title-wrapper" href="{% pageurl news_page.specific %} ">
                            {{ news_page.specific.title }}
                        </a>
                    </div>
                </div>
            </div>

        {% empty %}
            <div class="news-index-title">
                No news found with that tag.
            </div>
        {% endfor %}

    </div>
</div>

{# load news background #}
<script>
    let news = document.getElementsByClassName("news-card-right");
    for (let singleNews of news) {
        let imageUrl = singleNews.title;
        singleNews.style.backgroundImage = "url(" + imageUrl + ")";
    }
</script>