.news-title {
    font-size: 56px;
}

.news-second-title {
    font-size: 45px;
    color: darkgray;
}

/*news container*/
.container {
    margin-top: 7%;
}

/*news author and time*/
.news-author {
    font-size: 20px;
    color: dodgerblue;
    margin-bottom: 12px;
}

.news-time {
    font-size: 20px;
    color: dodgerblue;
    margin-bottom: 12px;
}

.news-body {
    font-size: 1.3rem;
    margin-top: 16px;
}

@media screen and (max-width: 800px) {
    .news-title {
        font-size: 32px;
    }

    .news-second-title {
        font-size: 28px;
        color: darkgray;
    }

    /*news author and time*/
    .news-author {
        font-size: 16px;
        color: dodgerblue;
        margin-bottom: 12px;
    }

    .news-time {
        font-size: 16px;
        color: dodgerblue;
        margin-bottom: 12px;
    }

    .news-body {
        font-size: 20px;
        margin-top: 12px;
    }
}