{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/sub_union/sub_union_index_content3.css' %}">
<div class="container">
    <div class="row">
        {% for subunion in subunions %}
            <div class="col-md-4 col-xs-6">
                <div class="card">
                    {% if subunion.logo != None %}
                        {% image subunion.logo original as temp_photo %}
                    {% endif %}
                    <img class="card-img-top img-fluid" src="{{ temp_photo.url }}" alt="{{ temp_photo.alt }}"/>
                    <div class="middle">
                        <a href="{% pageurl subunion %}">
                            <div class="text">{{ subunion.name }}</div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>