{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}
<link rel="stylesheet" href="{% static 'css/sub_union/sub_union_index_content2.css' %}">

<div class="subunion-container">
    {% image page.background_image original as background %}
    <div class="left-block" id="background" title="{{ background.url }}">
        <div class="content">
            <div class="title">{{ page.title }}</div>
            <div class="intro">{{ page.intro|richtext }}</div>
        </div>
    </div>
    <div class="right-block">
        <div class="row">
            {% for subunion in subunions %}
                <div class="col-md-4 col-xs-6">
                    <div class="card">
                        {% if subunion.logo != None %}
                            {% image subunion.logo fill-300x300 as temp_photo %}
                        {% endif %}
                        <img class="card-img-top img-fluid" src="{{ temp_photo.url }}" alt="{{ temp_photo.alt }}"/>
                        <div class="middle">
                            <a href="{% pageurl subunion %}">
                                <div class="text">{{ subunion.name }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{#add background image#}
<script>
    let imageUrl = document.getElementById("background").title;
    document.getElementById("background").style.backgroundImage = "url(" + imageUrl + ")";
</script>
