{% load wagtailcore_tags menu_tags global_tags static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/menu1.css' %}">
<script>
    {#loadCssFile("{% static 'css/menu.css' %}", "css");#}
</script>
<script>
    //responsive navbar according to screen size
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<!--only the content of the menu no layout-->
{% vcssa_home as homemenu %}
<a href="{% pageurl homemenu %}" class="nav-link"><i class="fa fa-fw fa-home"></i>{{ homemenu.title }}</a>

{#if the page is under subunion, load subunion home page menu#}
{% is_child_of_subunion as is_child %}
{% if is_child %}
    {% subunion_home as subunion_homemenu %}
    <a href="{% pageurl subunion_homemenu %}" class="nav-link" style="">{{ subunion_homemenu.title }}</a>
{% endif %}

{% for item in menu_items %}
    {# first level menu#}
    <a href="{{ item.href }}" style="">{{ item.text }}
        {#        {% if item.has_children_in_menu %}#}
        {# second level menu#}
        {#            <a> {% sub_menu item %}</a>#}
        {#            {% endif %}#}
    </a>
{% endfor %}
<a href="javascript:void(0);" class="icon" id="close_icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
</a>

