{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}

{% block body_class %}template-aboutpage{% endblock %}'

{% block extra_js %}
    <script>
        loadCssFile("{% static 'css/about/about.css' %}", "css");
    </script>
{% endblock %}

{% block content %}

    {#menu is here#}
    <div class="topnav" id="myTopnav">
        {% load_menu %}
    </div>
    <!--about background and content-->
    {% include "vcssa/includes/about_content1.html" %}
{% endblock %}


