{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}

{% block body_class %}template-activitypage{% endblock %}


{% block extra_js %}
    <script>
        loadCssFile("{% static 'css/activity/activity.css' %}", "css");
        {#use to change video layout on safari#}
        {#only on mac os and in safari#}
        {#if (getOS() === 'Mac OS') {#}
        {#    if (navigator.userAgent.indexOf('Safari') !== -1 && navigator.userAgent.indexOf('Chrome') === -1) {#}
        {#alert('safari on mac');#}
        {#        let responsive_obj = document.getElementsByClassName("responsive-object");#}
        {#        let videoImage = document.getElementsByClassName("ytp-cued-thumbnail-overlay");#}
        {#        let images = document.getElementsByClassName("richtext-image left");#}
        {#        for (let i = 0; i < responsive_obj.length; i += 1) {#}
        {#            responsive_obj[i].style.padding = "0";#}
        {#        }#}
        {#    }#}
        {# }#}
    </script>

{% endblock %}

{% block content %}

    {#menu is here#}
    <div class="topnav" id="myTopnav">
        {% load_menu %}
    </div>

    <!-- activity content-->
    {% include "vcssa/includes/activity_content2.html" %}

{% endblock %}