{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}

{% block body_class %}template-newsindexpage{% endblock %}

{% block extra_js %}
    <script>
        loadCssFile("{% static 'css/news_index/news_index.css' %}", "css");
    </script>
{% endblock %}

{% block content %}

    {#menu is here#}
    <div class="topnav" id="myTopnav">
        {% load_menu %}
    </div>

    <!--background image and intro-->
    {% include "vcssa/includes/news_index_background1.html" %}

    <!--news index body-->
    {% include "vcssa/includes/news_index_content1.html" %}
{% endblock %}