{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags static %}

{% block body_class %}template-subunionindexpage{% endblock %}

{% block extra_js %}
    <script>
        loadCssFile("{% static 'css/sub_union/sub_union.css' %}", "css");
    </script>
{% endblock %}

{% block content %}

    {#menu is here#}
    <div class="topnav" id="myTopnav">
        {% load_menu %}
    </div>

    <!--background image-->
    {% include "vcssa/includes/sub_union_index_background1.html" %}

    <!--sub union content-->
    {% include "vcssa/includes/sub_union_index_content1.html" %}
{% endblock %}
