{% load wagtailcore_tags wagtailimages_tags menu_tags global_tags wagtailsettings_tags static %}
<link rel="stylesheet" href="{% static 'css/news/news_content.css' %}">
{#menu is here#}
<div class="topnav" id="myTopnav">
    {% load_menu %}
</div>
<div class="container">

    <h1 class="news-title">{{ page.title }}</h1>
    <h1 class="news-second-title">{{ page.intro }}</h1>

    By
    <i class="news-author">
        {{ page.author }}
    </i> |
    Updated
    <i class="news-time">
        {{ page.date }}
    </i>

    <div class="news-body">
        {{ page.body | richtext }}</div>


</div>